:root {
  --background-color: #1a1a1a;
  --text-color: #f1eeee;
  --header-bg: #bfabab;
  --footer-bg: #333;
  --link-color: #e20a0a;
  /* Define more color variables as needed */
}

:root.dark-mode {
  --background-color: white;
  --text-color: black;
  --header-bg: black;
  --footer-bg: #222;
  --link-color: rgb(7, 236, 232);
  /* Define dark mode color variables */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

header {
    height: 100px;
    background: var(--header-bg);
    width: 100%;
    position: relative;
    z-index: 12;
    top: -15px;
}

#toggle-mode {
  background-color: var(--link-color);
  color: var(--text-color);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  right: 1400px;
  bottom: 2px;
}

#toggle-mode:hover {
  opacity: 0.8;
}

.lo {  
    font-family: Aclonica;
    font-size: 30px;
    padding: 50px;
    margin: 50px;
    position: relative;
    bottom: 15px;
}

.lo a {
    color: var(--link-color);
    text-decoration: none;
}

.nav {
    font-family: 'poppins';
    font-size: 25px;
    float: right;
    list-style: none;
}

.nav li {
    display: inline-block;
}

.nav li a {
    padding: 15px;
}

.nav li a:hover {
    background: #33F9FF;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    border-width: auto;
}

.carousel-item img{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: 90vh;
    filter: brightness(50%);
}

.footer {
    background-color: var(--footer-bg);
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo img {
    max-width: 100px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-social ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-social ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  
